.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

.vscode/
**/*.exe

imgs/**/*.png
!imgs/**/@animated.png
!imgs/background/*.png
!imgs/flash_overlay/*.png
!imgs/error_msg/*.png