* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    place-items: center;
}

main {
    overflow: hidden;
    background-color: black;
    overflow-x: auto;
}
main::-webkit-scrollbar {display: none;}